@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Oxygen:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Oxygen, sans-serif;
    font-weight: 400;
}


/* Button Styling */

.home-nav-container{
    height: 100vh;
}

.home-nav {
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    margin-top: 63px;
    background-color: blueviolet;
    border-color: blueviolet;
}

.home-nav-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Title Styling */

.navbar-light .nav-title {
    font-family: MuseoModerno, sans-serif;
    font-size: 50px;
    justify-content: center;
    color: blueviolet;
    display: flex;
}

.nav-order-title{
    font-family: MuseoModerno, sans-serif;
    font-size: 30px;
    justify-content: left;
    display: flex;
    color: blueviolet !important;
}

.order-title {
    font-size: 50px;
    font-family: MuseoModerno, sans-serif;
    justify-content: center;
    display: flex;
    color: blueviolet;
    text-decoration: underline 2px black;
}

/* Navigation styling */

.nav-item{
    justify-content: space-between;
    font-size: 20px;
    margin-left: 4rem;
    display: flex;
}

.navbar-light .navbar-nav .nav-link{
    color: blueviolet;
}

/* Home Page Styling */

.home-container{
    position: relative;
    background-image: url('/static/images/halo-image.jpg');
    background-size: cover;
    height: 34.4rem;
    width: auto; 
}

.list-inline {
    padding-left: 0;
    list-style: none;
    display: flex;
    font-size: 30px;
    letter-spacing: 50px;
}

.list-inline li a{
    color: blueviolet;
}


/* Ordering Page Styling */

.order-main-items{
    display: flex;
    font-family: MuseoModerno, sans-serif;
    font-size: 30px;
    margin-left: 4rem;
}

.grid-container{
    columns: 3;
}

.image-container {
    max-height: 100%;
    width: auto;
}

  