{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="order-title">Drinks</h1>
    <div class="row">
        <h3 class="order-main-items">Drinks</h3>
        <div class="grid-container">
            <div class="grid-item">
                {% for drink in drinks %}
                <h5 class="grid-title">{{ drink.name }}</h5>
                <div class="imaghe-container">
                    <img class="card-img-top" src="{{ drink.image.url }}" alt="{{ drink.name }} image">
                </div>
                <h6 class="grid-description">{{drink.description | striptags}}</h6>
                <h6 class="grid-price">£{{drink.price}}</h6>
                <i class="fas fa-shopping-cart"></i> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}