{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="order-title">Drinks</h1>
    <div class="row">
        <h3 class="order-main-items">Drinks</h3>
        <div class="grid-container">
            <div class="grid-item">
                {% for drinks in drink %}
                <h5 class="grid-title">{{ drinks.name }}</h5>
                <div class="imaghe-container">
                    <img class="card-img-top" src="{{ drinks.image.url }}" alt="{{ drinks.name }} image">
                </div>
                <h6 class="grid-description">{{drinks.description | striptags}}</h6>
                <h6 class="grid-price">£{{drinks.price}}</h6>
                <i class="fas fa-shopping-cart"></i> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}