{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="order-title">Our Menu</h1>
    <div class="row">
        <h3 class="order-main-items">Mains</h3>
        <div class="grid-container">
            <div class="grid-item">
                {% for food in fooditem_list %}
                <h5 class="grid-title">{{ food.name }}</h5>
                <div class="imgae-container">
                    <img class="card-img-top" src="{{ food.image.url }}" alt="{{ food.name }} image">
                </div>
                <h6 class="grid-description">{{food.description | striptags}}</h6>
                <h6 class="grid-price">£{{food.price}}</h6>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="order-main-items">Sides</h3>
        <div class="grid-container">
            <div class="grid-item">
                {% for side in sideitem_list %}
                <h5 class="grid-title">{{ side.name }}</h5>
                <div class="imgae-container">
                    <img class="card-img-top" src="{{ side.image.url }}" alt="{{ side.name }} image">
                </div>
                <h6 class="grid-description">{{side.description | striptags}}</h6>
                <h6 class="grid-price">£{{side.price}}</h6>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="order-main-items">Drinks</h3>
        <div class="grid-container">
            <div class="grid-item">
                {% for drink in drinkitem_list %}
                <h5 class="grid-title">{{ drink.name }}</h5>
                <div class="imgae-container">
                    <img class="card-img-top" src="{{ drink.image.url }}" alt="{{ drink.name }} image">
                </div>
                <h6 class="grid-description">{{drink.description | striptags}}</h6>
                <h6 class="grid-price">£{{drink.price}}</h6>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}